#Temporary files
__pycache__
__pycache__/*
temp
temp/*

#Local builds
build
build/*

#Local resources
dist
dist/*
env/
pyHook-*-cp27*

#IDE Ignore
.vscode/
.vs/

RATAttack.spec
RATAttack.py
logs/2020-07-20-log.txt
nome
logs/2020-07-19-log.txt
